<mat-toolbar class="app-title">Cadastrar Produto</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="reiniciarForm()">
      <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome do Produto *" name="nomeProduto" formControlName="nomeProduto">
            <mat-error *ngIf="validacao.hasErrorValidar(f.nomeProduto, 'required')">Campo Obrigatório</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidar(f.nomeProduto, 'minlength')">Campo precisa ter no minimo 2 caracteres</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidar(f.nomeProduto, 'maxlength')">Campo pode ter no maximo 256 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Link Foto" name="urlFoto" formControlName="urlFoto">
            <mat-error *ngIf="validacao.hasErrorValidar(f.urlFoto, 'minlength')">Campo
              precisa ter no minimo 10 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
              <input matInput
                    readonly
                    [matDatepicker]="picker"
                    placeholder="Data de Lançamento *"
                    name="dtLancamento"
                    formControlName="dtLancamento"
                    (click)="picker.open()"
                    >
              <mat-error *ngIf="validacao.hasErrorValidar(f.dtLancamento, 'required')">Campo Obrigatório</mat-error>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descrição" name="descricao" formControlName="descricao"></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Teor alcoólico *" name="teorAlcoolico" formControlName="teorAlcoolico" type="number" min="0" step="0.1">
            <mat-error *ngIf="validacao.hasErrorValidar(f.teorAlcoolico, 'required')">Campo
              Obrigatório</mat-error>
              <mat-error *ngIf="validacao.hasErrorValidar(f.teorAlcoolico, 'min')">Campo
                precisa ter no minimo o valor 0 </mat-error>
              <mat-error *ngIf="validacao.hasErrorValidar(f.teorAlcoolico, 'max')">Campo
                pode ter no maximo o valor 100</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Embalagens" name="embalagens" formControlName="embalagens">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de Bebida *" formControlName="tipo">
              <mat-option value="Cervejas">Cervejas</mat-option>
              <mat-option value="Bebidas Quentes">Bebidas Quentes</mat-option>
              <mat-option value="Não Alcoólicos">Não Alcoólicos</mat-option>
            </mat-select>
            <mat-error *ngIf="validacao.hasErrorValidar(f.tipo, 'required')">
              Campo Obrigatório</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
