<mat-toolbar class="app-title">Games Cadastrados</mat-toolbar>
<div class="home-content">

  <mat-card class="example-card" infiniteScroll *ngFor="let game of games"
          (scrolled)="onScroll()">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ game.nome }}</mat-card-title>
      <mat-card-subtitle> {{ game.genero }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="game.urlFoto">
    <mat-card-content>
      <p>
        {{ game.descricao }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>ABRIR</button>
    </mat-card-actions>
  </mat-card>
</div>
